<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Test App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    @Scripts.Render("~/Scripts/jquery-3.7.0.js")
    @Scripts.Render("~/Scripts/jquery-3.7.0.min.js")
    @Scripts.Render("~/Scripts/jquery-3.7.0.slim.js")
    @Scripts.Render("~/Scripts/jquery-3.7.0.slim.min.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/modernizr-2.8.3.js")

    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Test App</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "AdminTests")">Administrar Tests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "AdminPreguntas")">Administrar Preguntas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "AdminRespuestas")">Administrar Respuestas</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>