@model  TestTask.Features.Admin.AdminPreguntas.ViewModels.AdminPreguntasAccionesViewModel
@{
    Layout = "~/Features/Shared/LayoutEspecial.cshtml";

}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script>
    function irModal(nombreModal,id) {
        let url = (nombreModal == "_Create") ? '@Url.Action("_Create", "AdminPreguntas")' : (nombreModal == "_Edit") ? '@Url.Action("_Edit", "AdminPreguntas")' : (nombreModal == "_Delete") ? '@Url.Action("_Delete", "AdminPreguntas")' : "";
        if (nombreModal != "_Create") {
            url += '?id=' + id;
        }
        $.ajax({
       url: url,
                type: 'GET',
                success: function (result) {
                    $('#modalBody').data(result);
                    if (nombreModal == "_Create") {
                        $('#resultadoBusqueda').html(result);
                        $('#myModal').modal('show');

                    }
                    if (nombreModal == "_Edit") {
                        $('#resultadoBusquedaEdicion').html(result);
                        $('#myModalEdit').modal('show');
                    }
                    if (nombreModal == "_Delete") {
                        $('#resultadoBusquedaEliminar').html(result);
                        $('#myModalDelete').modal('show');

                    }
                   
                }
            });
        }
    $(document).ready(function () {
        $('#myModal').on('hidden.bs.modal', function () {
            $('#modalBody').html('');
        });
        $('#myModalEdit').on('hidden.bs.modal', function () {
            $('#modalBody').html('');
        });
        $('#myModalDelete').on('hidden.bs.modal', function () {
            $('#modalBody').html('');
        });
    });
</script>

<h2>Questions List</h2>
<div class="text-right mb-3">
    <button type="button" class="btn btn-primary" id="btnAbrirModal" onclick="irModal('_Create')">
        Crear
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Identificador</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model.ListadoActual)
        {
            <tr>
                <td>@test.Identificador</td>
                <td>@test.Descripcion</td>
                <td>
                    <a href="javascript:void(0);" onclick="irModal('_Edit', '@test.Id')">Editar</a> |
                    <a href="javascript:void(0);" onclick="irModal('_Delete', '@test.Id')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="resultadoBusqueda"></div>
<div id="resultadoBusquedaEdicion"></div>
<div id="resultadoBusquedaEliminar"></div>